<ng-container [ngSwitch]="role$ | async">
  <div *ngSwitchCase="null" style="display: flex; flex-direction: column;">
    <button mat-raised-button (click)="chooseRole('host')">
      <h1 i18n="@@p2p-host">Host</h1>
      <div>Share your tabletop with several guests.</div>
      <div>Guests can also make updates to your tabletop.</div>
    </button>
    <div class="vertical-spacer"></div>
    <button mat-raised-button (click)="chooseRole('guest')">
      <h1 i18n="@@p2p-guest">Guest</h1>
      <div>Connect to a host's tabletop.</div>
    </button>
  </div>
  <p2p-host *ngSwitchCase="'host'"></p2p-host>
  <p2p-guest *ngSwitchCase="'guest'"></p2p-guest>
</ng-container>
