<div *ngIf="!card" style="text-align: center;">No Card</div>
<div *ngIf="card" style="display: flex; flex-direction: column; align-items: center;">
  <div style="display: flex; width: 100%;">
    <div *ngIf="showInitiative" class="title">{{ card.initiative | number: '2.0-0' }}</div>
    <div class="title" style="flex-grow: 1; text-align: center;">{{ card.name }}</div>
  </div>
  <monster-ability *ngFor="let ability of card?.abilities" [ability]="ability"></monster-ability>
  <div *ngIf="card?.deathAbilities?.length" style="display: flex; flex-direction: column; align-items: center;">
    <div style="align-self: start;">On death:</div>
    <monster-ability *ngFor="let ability of card?.deathAbilities" [ability]="ability"></monster-ability>
  </div>
</div>
<div *ngIf="id" style="display: flex; justify-content: space-between; align-items: baseline;">
  <div class="card-id">{{ id }}</div>
  <div *ngIf="card.shuffle" class="gloomhaven-ability-icons" style="font-size: 1.8rem;">@</div>
</div>
