<div *ngIf="level$ | async as level" class="stat-card">
  <div class="bonuses">
    <bonuses [bonuses]="level.bonuses" [attackEffects]="level.attackEffects" [immunities]="level.immunities"></bonuses>
    <ng-container *ngIf="specials$ | async as specials">
      <div>
        <span>1: </span>
        <span class="card-content-sm">{{ specials[1] }}</span>
      </div>
      <div>
        <span>2: </span>
        <span class="card-content-sm">{{ specials[2] }}</span>
      </div>
    </ng-container>
  </div>
  <div class="stat">{{ level.hitPoints }} x C</div>
  <div title="Hit Points" i18n-title="@@hitPoints" class="stat-icon gloomhaven-ability-icons">H</div>

  <div class="stat">{{ level.movement }}</div>
  <div title="Movement" i18n-title="@@movement" class="stat-icon gloomhaven-ability-icons">M</div>
  
  <div class="stat">{{ level.attack }}</div>
  <div title="Attack" i18n-title="@@attack" class="stat-icon gloomhaven-ability-icons">K</div>
  
  <ng-container *ngIf="level.range">
    <div class="stat">{{ level.range }}</div>
    <div title="Range" i18n-title="@@range" class="stat-icon gloomhaven-ability-icons">G</div>
  </ng-container>
</div>
