<div *ngIf="level$ | async as level" class="stat-card">
  <div class="bonuses">
    <bonuses [bonuses]="level.bonuses" [attackEffects]="level.attackEffects" [immunities]="level.immunities"></bonuses>
    <div *ngIf="specials$ | async as specials" style="display: grid; column-gap: 0.25em; grid-template-columns: auto auto;">
      <div>1:</div>
      <div>
        <monster-ability *ngFor="let ability of specials[1]" [ability]="ability"></monster-ability>
      </div>
      <div>2:</div>
      <div>
        <monster-ability *ngFor="let ability of specials[2]" [ability]="ability"></monster-ability>
      </div>
    </div>
    <div *ngIf="statCard.notes">{{ statCard.notes }}</div>
  </div>
  <div class="stat">{{ level.hitPoints }}×C</div>
  <div title="Hit Points" i18n-title="@@hitPoints" class="stat-icon gloomhaven-ability-icons">H</div>

  <div class="stat">{{ level.movement }}</div>
  <div title="Movement" i18n-title="@@movement" class="stat-icon gloomhaven-ability-icons">M</div>
  
  <div class="stat">{{ level.attack }}</div>
  <div title="Attack" i18n-title="@@attack" class="stat-icon gloomhaven-ability-icons">K</div>
  
  <ng-container *ngIf="level.range">
    <div class="stat">{{ level.range }}</div>
    <div title="Range" i18n-title="@@range" class="stat-icon gloomhaven-ability-icons">G</div>
  </ng-container>
</div>
