<form #ngForm="ngForm" class="mat-card connection-card" (ngSubmit)="receiveGuestAnswer(ngForm.form)">
  <form #nameNgForm="ngForm" class="title" (ngSubmit)="changeName(nameNgModel.control.value)">
    <mat-form-field style="width: 250px;">
      <input matInput placeholder="Connection {{ index + 1 }}" [ngModel]="guest.name" [ngModelOptions]="{ standalone: true }" #nameNgModel="ngModel">
      <button *ngIf="nameNgModel.control.dirty" mat-icon-button matSuffix type="submit">
        <mat-icon>save</mat-icon>
      </button>
    </mat-form-field>
  </form>
  <div [ngSwitch]="guest.state" style="flex-grow: 1;">
    <ng-container *ngSwitchCase="'pending'">
      <mat-tab-group *ngIf="guest | any as pendingGuest" [(selectedIndex)]="tabIndex">
        <mat-tab label="Text">
          <mat-form-field appearance="fill" style="width: 100%;" (click)="copyOfferCode(pendingGuest.offer)">
            <mat-label>Offer Code</mat-label>
            <textarea matInput [ngModel]="pendingGuest.offer" [ngModelOptions]="{ standalone: true }" disabled rows="5"></textarea>
          </mat-form-field>
          <div *ngIf="showCopied$ | async" class="overlay" @fadeOut>
            <span class="mat-card copied">Copied!</span>
          </div>
        </mat-tab>
        <mat-tab label="QR Code">
          <ng-template matTabContent>
            <div style="display: flex; justify-content: center;">
              <canvas #qrCanvas (ngAfterViewInit)="drawQrCode(pendingGuest.offer, qrCanvas)"></canvas>
            </div>
          </ng-template>
        </mat-tab>
      </mat-tab-group>
      <mat-tab-group [(selectedIndex)]="tabIndex">
        <mat-tab label="Text">
          <mat-form-field appearance="fill" style="width: 100%;">
            <mat-label>Answer Code</mat-label>
            <textarea matInput name="answer" ngModel required placeholder="Paste Answer Code Here" rows="5"></textarea>
          </mat-form-field>
        </mat-tab>
        <mat-tab label="QR Code">
          <ng-template matTabContent>
            <qr-scanner (scanSuccess)="receiveQrCode($event)"></qr-scanner>
          </ng-template>
        </mat-tab>
      </mat-tab-group>
    </ng-container>
    <div *ngSwitchCase="'stable'" class="title">Stable</div>
  </div>
  <div style="display: flex; justify-content: end;">
    <button mat-icon-button type="button" color="warn" (click)="remove()">
      <mat-icon>delete</mat-icon>
    </button>
    <button mat-icon-button *ngIf="guest.state === 'pending'" type="submit" color="accent">
      <mat-icon>done</mat-icon>
    </button>
  </div>
</form>
