<ng-container [ngSwitch]="condition">
  <ng-container *ngSwitchCase="'curse'">
    <ng-container *ngIf="showLabel">
      <span i18n="@@curse">CURSE</span>
      <span>&nbsp;</span>
    </ng-container>
    <rhombus>
      <span class="gloomhaven-condition-icons" style="color: #7d58a4;">C</span>
    </rhombus>
  </ng-container>
  <ng-container *ngSwitchCase="'disarm'">
    <ng-container *ngIf="showLabel">
      <span i18n="@@disarm">DISARM</span>
      <span>&nbsp;</span>
    </ng-container>
    <rhombus>
      <span class="gloomhaven-condition-icons" style="color: #69797d;">D</span>
    </rhombus>
  </ng-container>
  <ng-container *ngSwitchCase="'immobilize'">
    <ng-container *ngIf="showLabel">
      <span i18n="@@immobilize">IMMOBILIZE</span>
      <span>&nbsp;</span>
    </ng-container>
    <rhombus>
      <span class="gloomhaven-condition-icons" style="color: #9b3430;">I</span>
    </rhombus>
  </ng-container>
  <ng-container *ngSwitchCase="'invisible'">
    <ng-container *ngIf="showLabel">
      <span i18n="@@invisible">INVISIBLE</span>
      <span>&nbsp;</span>
    </ng-container>
    <rhombus>
      <span class="gloomhaven-condition-icons" style="color: #151514;">V</span>
    </rhombus>
  </ng-container>
  <ng-container *ngSwitchCase="'muddle'">
    <ng-container *ngIf="showLabel">
      <span i18n="@@muddle">MUDDLE</span>
      <span>&nbsp;</span>
    </ng-container>
    <rhombus>
      <span class="gloomhaven-condition-icons" style="color: #705844;">M</span>
    </rhombus>
  </ng-container>
  <ng-container *ngSwitchCase="'poison'">
    <ng-container *ngIf="showLabel">
      <span i18n="@@poison">POISON</span>
      <span>&nbsp;</span>
    </ng-container>
    <rhombus>
      <span class="gloomhaven-condition-icons" style="color: #7c7f68;">P</span>
    </rhombus>
  </ng-container>
  <ng-container *ngSwitchCase="'regenerate'">
    <ng-container *ngIf="showLabel">
      <span i18n="@@regenerate">REGENERATE</span>
      <span>&nbsp;</span>
    </ng-container>
    <rhombus>
      <span class="gloomhaven-condition-icons" style="color: #69797d;">Z</span>
    </rhombus>
  </ng-container>
  <ng-container *ngSwitchCase="'strengthen'">
    <ng-container *ngIf="showLabel">
      <span i18n="@@strengthen">STRENGTHEN</span>
      <span>&nbsp;</span>
    </ng-container>
    <rhombus>
      <span class="gloomhaven-condition-icons" style="color: #4a97d2;">S</span>
    </rhombus>
  </ng-container>
  <ng-container *ngSwitchCase="'stun'">
    <ng-container *ngIf="showLabel">
      <span i18n="@@stun">STUN</span>
      <span>&nbsp;</span>
    </ng-container>
    <rhombus>
      <span class="gloomhaven-condition-icons" style="color: #2e4668;">U</span>
    </rhombus>
  </ng-container>
  <ng-container *ngSwitchCase="'wound'">
    <ng-container *ngIf="showLabel">
      <span i18n="@@wound">WOUND</span>
      <span>&nbsp;</span>
    </ng-container>
    <rhombus>
      <span class="gloomhaven-condition-icons" style="color: #e56225;">W</span>
    </rhombus>
  </ng-container>
  <ng-container *ngSwitchDefault>
    {{ condition }}
  </ng-container>
</ng-container>
