:host {
  display: flex;
  align-items: center;
}

img.sm {
  height: 24px;
  &.immune {
    height: 12px;
  }
}
img.md {
  height: 32px;
  &.immune {
    height: 16px;
  }
}

img.immune {
  margin-left: -8px;
}
  