<mat-card>
  <mat-card-header class="title">
    <div mat-card-avatar class="example-header-image"></div>
    <div style="flex: 1 1 auto;">
      <mat-card-title i18n>
        {{name}}
      </mat-card-title>
    </div>
    <div>{{ initiative }}</div>
  </mat-card-header>
  <mat-card-content class="dashboard-card-content">
    <div>Card Content Here</div>
  </mat-card-content>
  <mat-card-actions>
    <button mat-icon-button>
      <mat-icon>add</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>
<div style="display: flex">
  <monster-standee *ngFor="let standee of monster.standees" [standee]="standee"></monster-standee>
</div>
