
<ng-container *ngIf="monster$ | async as monster">
  <div *ngIf="statCard$ | async as statCard" class="mat-card monster-card">
    <div class="monster-card-header title">
      <div class="monster-card-avatar"></div>
      <div class="horizontal-spacer"></div>
      <div style="flex: 1 1 auto;" i18n>
        {{ statCard.name }}
      </div>
      <div>{{ initiative$ | async }}</div>
    </div>
    <div class="monster-card-content">
      <ng-container [ngSwitch]="statCard.kind">
        <monster-stat-card *ngSwitchCase="'basic'" [level]="monster.level" [statCard]="statCard | any" style="width: 100%;"></monster-stat-card>
      </ng-container>
      <monster-ability-card [id]="monster.currentAbilityCardId" style="width: 100%;"></monster-ability-card>
    </div>
    <div class="monster-card-standees">
      <monster-standee *ngFor="let standee of monster.standees" [standee]="standee"></monster-standee>
      <button mat-icon-button (click)="openStandeeDialog()">
        <mat-icon>add</mat-icon>
      </button>
    </div>
  </div>
</ng-container>
