/* You can add global styles to this file, and also import other style files */
@import "gloomhaven-ability-icons";
@import "gloomhaven-character-icons";
@import "gloomhaven-condition-icons";
@import "gloomhaven-effect-icons";
@import "material-icons";
@import "theming";
@import "typography";

html, body { height: 100%; }
body { margin: 0; }

.horizontal-spacer {
  width: 0.5em;
}

.horizontal-spacer-sm {
  width: 0.2em;
}

.vertical-spacer {
  height: 0.5em;
}
