.character-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0.5em;
}

.monster-list {
  display: flex;
  flex-direction: column;
  gap: 0.25em;
  > button {
    padding: 8px 16px;
  }
}

.list-item-wrapper {
  display: flex;
  align-items: center;
}

.list-item-avatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  object-fit: cover;
  background-color: lime;
}
