<h1 mat-dialog-title>Add Character or Monster</h1>
<div mat-dialog-content>
  <div class="character-list">
    <button *ngFor="let character of characters$ | async" mat-stroked-button class="title" [disabled]="character.used" (click)="addCharacter(character.key)">
      <character-icon [key]="character.key" [shadow]="!character.used"></character-icon>
    </button>
  </div>
  <hr>
  <div class="monster-list">
    <button *ngFor="let monster of monsters$ | async" mat-raised-button color="accent" class="title" i18n="monster:{{monster.key}}" [disabled]="monster.used" (click)="addMonster(monster.key)">
      <div class="list-item-wrapper">
        <!-- <div class="list-item-avatar"></div>
        <div class="horizontal-spacer"></div> -->
        <div>{{ monster.name }}</div>
      </div>
    </button>
  </div>
</div>