<mat-toolbar color="primary">
  <a mat-icon-button routerLink="">
    <mat-icon>arrow_back</mat-icon>
  </a>
  <span i18n>Peer to Peer</span>
  <span class="horizontal-spacer"></span>
  <ng-container [ngSwitch]="role$ | async">
    <span *ngSwitchCase="'host'" i18n="@@p2p-host">Host</span>
    <span *ngSwitchCase="'guest'" i18n="@@p2p-guest">Guest</span>
    <span *ngSwitchDefault i18n>Select Role</span>
  </ng-container>
  <span style="flex-grow: 1;"></span>
  <button mat-icon-button type="button" (click)="openHelpDialog()">
    <mat-icon>help</mat-icon>
  </button>
</mat-toolbar>
