@import 'breakpoints';

:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.top {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
}

.top-spacer {
  flex: 0 0 128px;
}

.bottom {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 999;
}

.bottom-spacer {
  flex: 0 0 64px;
}

.container {
  flex: 1 1 auto;
  @include xs {
    margin: 16px 16px;
  }
  @include sm {
    margin: 16px 32px;
  }
  @include md {
    width: 840px;
    margin: 16px auto;
  }
  @include lg {
    margin: 16px 200px;
  }
  @include xl {
    width: 1040px;
    margin: 16px auto;
  }
}
