button {
  padding-top: 6px;
  padding-bottom: 6px;
  ::ng-deep .mat-button-wrapper > div {
    display: flex;
    align-items: baseline;
    font-family: 'Sakkal Majalla';
    font-size: 1.2rem;
    line-height: normal;
  }
}
