<button mat-stroked-button (click)="emitClick($event)">
  <div>
    <div class="text">
      <ng-container *ngIf="standee.rank !== 'boss'">
        <div class="title" [title]="standee.rank" i18n-title="@@{{standee.rank}}"
          [style.color]="standee.rank === 'elite' ? 'yellow' : null">
          {{ standee.id }}
        </div>
        <div class="horizontal-spacer-sm"></div>
      </ng-container>
      <div class="gloomhaven-ability-icons">H</div>
      <div>{{ standee.hitPoints }}</div>
    </div>
    <div *ngIf="standee.conditions.length" class="images">
      <condition *ngFor="let condition of standee.conditions" [condition]="condition"></condition>
    </div>
  </div>
</button>
