<div [ngSwitch]="ability.kind" class="ability">
  <div *ngIf="ability.consumeElement" class="consume" style="display: flex; align-items: center;">
    <element [element]="$any(ability).consumeElement" [consume]="true"></element>
    <span style="font-size: 1.5rem;">:</span>
  </div>
  <div *ngSwitchCase="'move'" style="display: flex; flex-direction: column; align-items: center;">
    <div>
      <span i18n="@@move">Move</span>
      <span>&nbsp;</span>
      <span class="gloomhaven-ability-icons">M</span>
      <span>&nbsp;</span>
      <span>{{ $any(ability).modifier | modifier }}</span>
    </div>
    <div *ngIf="$any(ability).jump" class="card-content-sm">
      <span i18n="@@jump">Jump</span>
      <span>&nbsp;</span>
      <span class="gloomhaven-ability-icons">J</span>
    </div>
  </div>
  <div *ngSwitchCase="'attack'">
    <div style="display: flex; justify-content: center; align-items: center; gap: 0.25em;">
      <div style="flex-grow: 1; display: flex; flex-direction: column; align-items: center;">
        <div>
          <span i18n="@@attack">Attack</span>
          <span>&nbsp;</span>
          <span class="gloomhaven-ability-icons">K</span>
          <span>&nbsp;</span>
          <span>{{ $any(ability).modifier | modifier }}</span>
        </div>
        <div *ngIf="$any(ability).range" class="card-content-sm">
          <span i18n="@@range">Range</span>
          <span>&nbsp;</span>
          <span class="gloomhaven-ability-icons">G</span>
          <span>&nbsp;</span>
          <span>{{ $any(ability).range | modifier }}</span>
        </div>
        <div *ngIf="$any(ability).target" class="card-content-sm" [ngSwitch]="$any(ability).target">
          <ng-container *ngSwitchCase="'adjacent'">
            <span>Target all adjacent enemies</span>
          </ng-container>
          <ng-container *ngSwitchCase="'all'">
            <span>Target all enemies within range</span>
          </ng-container>
          <ng-container *ngSwitchDefault>
            <span i18n="@@target">Target</span>
            <span>&nbsp;</span>
            <span class="gloomhaven-ability-icons">T</span>
            <span>&nbsp;</span>
            <span>{{ $any(ability).target }}</span>
          </ng-container>
        </div>
        <div *ngFor="let effect of $any(ability).effects" [ngSwitch]="effect.kind" class="card-content-sm">
          <condition *ngSwitchCase="'condition'" [condition]="$any(effect).condition" [showLabel]="true" size="sm"></condition>
          <effect *ngSwitchCase="'effect'" [effect]="$any(effect).effect" [amount]="$any(effect).amount" [showLabel]="true" size="sm"></effect>
          <div *ngSwitchCase="'other'">{{ $any(effect).description }}</div>
        </div>
      </div>
      <aoe *ngIf="$any(ability).aoe" [rows]="$any(ability).aoe"></aoe>
    </div>
    <div *ngIf="$any(ability).elementEnhancements">
      <div *ngFor="let enhancement of $any(ability).elementEnhancements | keyvalue" style="display: flex; align-items: center; gap: 0.25em;">
        <div style="display: flex; align-items: center;">
          <element [element]="$any(enhancement).key" [consume]="true"></element>
          <span style="font-size: 1.5rem;">:</span>
        </div>
        <div class="card-content-sm" style="flex-grow: 1;">
          <div *ngIf="$any(enhancement).value.modifier">
            <span>{{ $any(enhancement).value.modifier | modifier }}</span>
            <span>&nbsp;</span>
            <span i18n="@@attack">Attack</span>
            <span>&nbsp;</span>
            <span class="gloomhaven-ability-icons">K</span>
          </div>
          <div *ngIf="$any(enhancement).value.range">
            <span>{{ $any(enhancement).value.range | modifier }}</span>
            <span>&nbsp;</span>
            <span i18n="@@attack">Range</span>
            <span>&nbsp;</span>
            <span class="gloomhaven-ability-icons">G</span>
          </div>
          <div *ngIf="$any(enhancement).value.target">
            <span i18n="@@target">Target</span>
            <span>&nbsp;</span>
            <span class="gloomhaven-ability-icons">T</span>
            <span>&nbsp;</span>
            <span>{{ $any(enhancement).value.target }}</span>
          </div>
          <div *ngIf="$any(enhancement).value.conditions?.length">
            <ng-container *ngFor="let condition of $any(enhancement).value.conditions; let first = first">
              <span *ngIf="!first"> and </span>
              <condition [condition]="condition" [showLabel]="true"></condition>
            </ng-container>
          </div>
          <aoe *ngIf="$any(enhancement).value.aoe" [rows]="$any(enhancement).value.aoe"></aoe>
        </div>
      </div>
    </div>
  </div>
  <div *ngSwitchCase="'bonus'" [ngSwitch]="$any(ability).bonus" style="display: flex; flex-direction: column; align-items: center;">
    <div>
      <ng-container *ngSwitchCase="'retaliate'">
        <span i18n="@@retaliate">Retaliate</span>
        <span>&nbsp;</span>
        <span class="gloomhaven-ability-icons">R</span>
      </ng-container>
      <ng-container *ngSwitchCase="'shield'">
        <span i18n="@@shield">Shield</span>
        <span>&nbsp;</span>
        <span class="gloomhaven-ability-icons">S</span>
      </ng-container>
      <span>&nbsp;</span>
      <span>{{ $any(ability).amount }}</span>
    </div>
    <div *ngIf="$any(ability).range" class="card-content-sm">
      <span>Affect self and all allies within Range</span>
      <span>&nbsp;</span>
      <span class="gloomhaven-ability-icons">G</span>
      <span>&nbsp;</span>
      <span>{{ $any(ability).range }}</span>
    </div>
    <div *ngIf="$any(ability).elementEnhancements">
      <div *ngFor="let enhancement of $any(ability).elementEnhancements | keyvalue" style="display: flex; align-items: center; gap: 0.25em;">
        <div style="display: flex; align-items: center;">
          <element [element]="$any(enhancement).key" [consume]="true"></element>
          <span style="font-size: 1.5rem;">:</span>
        </div>
        <div class="card-content-sm" style="flex-grow: 1;">
          <div *ngIf="$any(enhancement).value.other">
            <span>{{ $any(enhancement).value.other }}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div *ngSwitchCase="'heal'" style="text-align: center;">
    <div>
      <span i18n="@@attack">Heal</span>
      <span>&nbsp;</span>
      <span class="gloomhaven-ability-icons">H</span>
      <span>&nbsp;</span>
      <span>{{ $any(ability).amount }}</span>
    </div>
    <div *ngIf="$any(ability).range" class="card-content-sm">
      <span i18n="@@range">Range</span>
      <span>&nbsp;</span>
      <span class="gloomhaven-ability-icons">G</span>
      <span>&nbsp;</span>
      <span>{{ $any(ability).range }}</span>
    </div>
    <div class="card-content-sm" [ngSwitch]="$any(ability).target">
      <span *ngSwitchCase="'self'" i18n="@@self">Self</span>
      <span *ngSwitchCase="'adjacent'">Affect all adjacent allies</span>
      <span *ngSwitchCase="'all'">Affect self and all allies</span>
    </div>
    <div *ngIf="$any(ability).elementEnhancements">
      <div *ngFor="let enhancement of $any(ability).elementEnhancements | keyvalue" style="display: flex; align-items: center; gap: 0.25em;">
        <div style="display: flex; align-items: center;">
          <element [element]="$any(enhancement).key" [consume]="true"></element>
          <span style="font-size: 1.5rem;">:</span>
        </div>
        <div class="card-content-sm" style="flex-grow: 1;">
          <div *ngIf="$any(enhancement).value.modifier">
            <span>{{ $any(enhancement).value.modifier | modifier }}</span>
            <span>&nbsp;</span>
            <span>Heal</span>
            <span>&nbsp;</span>
            <span class="gloomhaven-ability-icons">H</span>
          </div>
          <div *ngIf="$any(enhancement).value.target">
            <span>Target</span>
            <span>&nbsp;</span>
            <span class="gloomhaven-ability-icons">T</span>
            <span>&nbsp;</span>
            <span>{{ $any(enhancement).value.target }}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div *ngSwitchCase="'condition'" style="display: flex; flex-direction: column; align-items: center;">
    <div style="display: flex; flex-wrap: wrap; align-items: baseline; gap: 0.25rem;">
      <ng-container *ngFor="let condition of $any(ability).conditions; let first = first">
        <span *ngIf="!first"> and </span>
        <effect *ngIf="condition === 'push'" [effect]="condition" [amount]="1" [showLabel]="true"></effect>
        <condition *ngIf="condition !== 'push'" [condition]="condition" [showLabel]="true"></condition>
      </ng-container>
    </div>
    <div class="card-content-sm" style="text-align: center;" [ngSwitch]="$any(ability).target">
      <span *ngSwitchCase="'self'" i18n="@@self">Self</span>
      <ng-container *ngSwitchCase="'ally'">
        <span>Affect one adjacent ally</span>
      </ng-container>
      <ng-container *ngSwitchCase="'adjacentAllies'">
        <span>Affect all adjacent allies</span>
      </ng-container>
      <ng-container *ngSwitchCase="'allAlliesWithinRange'">
        <ng-container *ngIf="$any(ability).range">
          <span>Affect all allies within Range</span>
          <span>&nbsp;</span>
          <span class="gloomhaven-ability-icons">G</span>
          <span>&nbsp;</span>
          <span>{{ $any(ability).range }}</span>
        </ng-container>
        <ng-container *ngIf="!$any(ability).range">
          <span>Affect all allies within range</span>
        </ng-container>
      </ng-container>
      <span *ngSwitchCase="'allAllies'">Affect all allies</span>
      <ng-container *ngSwitchCase="'enemy'">
        <span>Target one adjacent enemy</span>
      </ng-container>
      <ng-container *ngSwitchCase="'adjacentEnemies'">
        <span>Target all adjacent enemies</span>
      </ng-container>
      <ng-container *ngSwitchCase="'allEnemiesWithinRange'">
        <ng-container *ngIf="$any(ability).range">
          <span>Target all enemies within Range</span>
          <span>&nbsp;</span>
          <span class="gloomhaven-ability-icons">G</span>
          <span>&nbsp;</span>
          <span>{{ $any(ability).range }}</span>
        </ng-container>
        <ng-container *ngIf="!$any(ability).range">
          <span>Target all enemies within range</span>
        </ng-container>
      </ng-container>
      <span *ngSwitchCase="'allEnemies'">Target all enemies</span>
    </div>
  </div>
  <div *ngSwitchCase="'forcedMovement'" style="text-align: center;">
    <div style="display: flex; justify-content: center; align-items: center;">
      <ng-container [ngSwitch]="$any(ability).direction">
        <span *ngSwitchCase="'pull'" i18n="@@pull">PULL</span>
        <span *ngSwitchCase="'push'" i18n="@@push">PUSH</span>
      </ng-container>
      <span>&nbsp;</span>
      <effect [effect]="$any(ability).direction"></effect>
      <span>&nbsp;</span>
      <span>{{ $any(ability).amount }}</span>
    </div>
    <div *ngIf="$any(ability).target === 'adjacent'" class="card-content-sm" i18n="@@targetAllAdjacentEnemies">Target all adjacent enemies</div>
    <div *ngIf="$any(ability).elementEnhancements">
      <div *ngFor="let enhancement of $any(ability).elementEnhancements | keyvalue" style="display: flex; align-items: center; gap: 0.25em;">
        <div style="display: flex; align-items: center;">
          <element [element]="$any(enhancement).key" [consume]="true"></element>
          <span style="font-size: 1.5rem;">:</span>
        </div>
        <div class="card-content-sm" style="flex-grow: 1;">
          <div *ngIf="$any(enhancement).value.other">
            <span>{{ $any(enhancement).value.other }}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <element *ngSwitchCase="'infuseElement'" [element]="$any(ability).element"></element>
  <div *ngSwitchCase="'loot'">
    <span i18n="@@loot">Loot</span>
    <span>&nbsp;</span>
    <span class="gloomhaven-ability-icons">L</span>
    <span>&nbsp;</span>
    <span>{{ $any(ability).range }}</span>
  </div>
  <div *ngSwitchCase="'special'">
    <div>
      <span i18n="@@special">Special </span>
      <span>{{ $any(ability).id }}</span>
    </div>
  </div>
  <div *ngSwitchCase="'other'">{{ $any(ability).description }}</div>
</div>