<mat-toolbar color="primary" class="top">
  <button mat-icon-button>
    <mat-icon>menu</mat-icon>
  </button>
  <span i18n>{{ title }}</span>
  <span class="horizontal-spacer"></span>
  <span><span i18n="@@round">Round</span> {{ round$ | async }}</span>
  <span style="flex: 1 1 auto"></span>
  <button mat-icon-button [disabled]="!(hasPast$ | async)" (click)="undo()">
    <mat-icon>undo</mat-icon>
  </button>
  <button mat-icon-button [disabled]="!(hasFuture$ | async)" (click)="redo()">
    <mat-icon>redo</mat-icon>
  </button>
</mat-toolbar>
<div class="container">
  <router-outlet></router-outlet>
</div>
<div class="bottom">
  <router-outlet name="bottom"></router-outlet>
</div>
