<mat-toolbar color="primary" class="top">
  <button mat-icon-button>
    <mat-icon>menu</mat-icon>
  </button>
  <span i18n>{{ title }}</span>
  <span class="horizontal-spacer"></span>
  <span><span i18n="@@round">Round</span> {{ round$ | async }}</span>
  <span style="flex: 1 1 auto"></span>
  <button mat-icon-button [disabled]="!(hasPast$ | async)" (click)="undo()">
    <mat-icon>undo</mat-icon>
  </button>
  <button mat-icon-button [disabled]="!(hasFuture$ | async)" (click)="redo()">
    <mat-icon>redo</mat-icon>
  </button>
</mat-toolbar>
<mat-toolbar color="primary" class="top" style="justify-content: center;">
  <ng-container *ngFor="let elementalInfusion of elementalInfusions$ | async; let last = last">
    <button mat-raised-button color="accent" (click)="infuseElement(elementalInfusion.element)">
      <div>{{ elementalInfusion.element }}</div>
      <div>{{ elementalInfusion.strength }}</div>
    </button>
    <div *ngIf="!last" class="horizontal-spacer"></div>
  </ng-container>
</mat-toolbar>
<div class="container">
  <router-outlet></router-outlet>
</div>
<div class="bottom">
  <router-outlet name="bottom"></router-outlet>
</div>
