<mat-toolbar color="primary">
  <button mat-icon-button>
    <mat-icon>menu</mat-icon>
  </button>
  <span i18n>{{ title }} app is running!</span>
  <span style="flex: 1 1 auto"></span>
  <button mat-icon-button [disabled]="!(hasPast$ | async)" (click)="undo()">
    <mat-icon>undo</mat-icon>
  </button>
  <button mat-icon-button [disabled]="!(hasFuture$ | async)" (click)="redo()">
    <mat-icon>redo</mat-icon>
  </button>
</mat-toolbar>
<div class="container">
  <router-outlet></router-outlet>
</div>
