<span class="gloomhaven-character-icons" [style.font-size]="size === 'lg' ? '3rem' : '2.5rem'" [style.text-shadow]="shadow ? '0 1px 1px black, 1px 1px 1px black' : null">
  <ng-container [ngSwitch]="key">
    <ng-container *ngSwitchCase="'brute'">A</ng-container>
    <ng-container *ngSwitchCase="'cragheart'">E</ng-container>
    <ng-container *ngSwitchCase="'mindthief'">F</ng-container>
    <ng-container *ngSwitchCase="'scoundrel'">D</ng-container>
    <ng-container *ngSwitchCase="'spellweaver'">C</ng-container>
    <ng-container *ngSwitchCase="'tinkerer'">B</ng-container>
  </ng-container>
</span>