<ng-container [ngSwitch]="key">
  <ng-container *ngSwitchCase="'brute'">
    <span class="gloomhaven-character-icons">A</span>
  </ng-container>
  <ng-container *ngSwitchCase="'cragheart'">
    <span class="gloomhaven-character-icons">E</span>
  </ng-container>
  <ng-container *ngSwitchCase="'mindthief'">
    <span class="gloomhaven-character-icons">F</span>
  </ng-container>
  <ng-container *ngSwitchCase="'scoundrel'">
    <span class="gloomhaven-character-icons">D</span>
  </ng-container>
  <ng-container *ngSwitchCase="'spellweaver'">
    <span class="gloomhaven-character-icons">C</span>
  </ng-container>
  <ng-container *ngSwitchCase="'tinkerer'">
    <span class="gloomhaven-character-icons">B</span>
  </ng-container>
</ng-container>
