<ng-container *ngIf="monster$ | async as monster">
  <div *ngIf="statCard$ | async as statCard" class="mat-card monster-card">
    <div class="monster-card-header title">
      <!-- <div class="monster-card-avatar"></div>
      <div class="horizontal-spacer"></div> -->
      <div style="flex: 1 1 auto;" i18n>
        {{ statCard.name }}
      </div>
      <div>{{ initiative$ | async }}</div>
    </div>
    <div class="monster-card-content card-content">
      <ng-container [ngSwitch]="statCard.kind">
        <monster-stat-card *ngSwitchCase="'normal'" [statCard]="$any(statCard)"></monster-stat-card>
        <boss-stat-card *ngSwitchCase="'boss'" [statCard]="$any(statCard)"></boss-stat-card>
      </ng-container>
      <div *ngIf="abilityDeck$ | async as abilityDeck" style="flex-grow: 1; display: flex; flex-direction: column; align-items: center;">
        <monster-ability-card [id]="abilityDeck.currentAbilityCardId" style="flex-grow: 1;"></monster-ability-card>
        <div *ngIf="drawCardEligible$ | async">
          <button mat-stroked-button color="accent" (click)="drawAbilityCard(abilityDeck.key)">
            Draw Ability Card
          </button>
        </div>
        <div class="card-content-sm" style="display: flex; align-items: center; gap: 0.25rem;">
          <span>{{ abilityCardsRemaining$ | async }}</span>
          <span i18n>cards remaining</span>
          <button mat-icon-button (click)="viewDrawnAbilityCards(abilityDeck)">
            <mat-icon>visibility</mat-icon>
          </button>
        </div>
      </div>
    </div>
    <div class="monster-card-standees card-content">
      <monster-standee *ngFor="let standee of standees$ | async" [standee]="standee"
        [maxHitPoints]="[monster.key, (scenarioLevel$ | async) ?? 0, standee.rank] | maxHitPoints"
        (click)="openUpdateFigureDialog(standee)">
      </monster-standee>
      <button *ngIf="statCard.kind === 'normal'" mat-icon-button (click)="openAddStandeeDialog()">
        <mat-icon>add</mat-icon>
      </button>
    </div>
  </div>
</ng-container>
