<div class="basic-numbers">
  <div>
    <div>{{ basicLevel.hitPoints }}</div>
    <div>{{ basicLevel.movement }}</div>
    <div>{{ basicLevel.attack }}</div>
    <div>{{ basicLevel.range }}</div>
  </div>
  <div style="text-align: center;">
    <div>Hit Points</div>
    <div>Movement</div>
    <div>Attack</div>
    <div>Range</div>
  </div>
  <div class="elite-numbers">
    <div>{{ eliteLevel.hitPoints }}</div>
    <div>{{ eliteLevel.movement }}</div>
    <div>{{ eliteLevel.attack }}</div>
    <div>{{ eliteLevel.range }}</div>
  </div>
</div>
<div class="level">Level: {{ level }}</div>
