<div class="stat-grid" *ngIf="normalLevel$ | async as normalLevel">
  <ng-container *ngIf="eliteLevel$ | async as eliteLevel">
    <div class="header-normal" i18n="@@normal">Normal</div>
    <div class="header-spacer"></div>
    <div class="header-elite" style="color: yellow;" i18n="@@elite">Elite</div>

    <div class="bonuses-normal">
      <bonuses [bonuses]="normalLevel.bonuses" [attackEffects]="normalLevel.attackEffects" [immunities]="normalLevel.immunities"></bonuses>
    </div>
    <div class="bonuses-elite">
      <bonuses [bonuses]="eliteLevel.bonuses" [attackEffects]="eliteLevel.attackEffects" [immunities]="eliteLevel.immunities"></bonuses>
    </div>

    <div class="stat-normal">{{ normalLevel.hitPoints }}</div>
    <div title="Hit Points" i18n-title="@@hitPoints" class="stat-icon gloomhaven-ability-icons">H</div>
    <div class="stat-elite" style="color: yellow;">{{ eliteLevel.hitPoints }}</div>
    
    <div class="stat-normal">{{ normalLevel.movement }}</div>
    <div title="Movement" i18n-title="@@movement" class="stat-icon gloomhaven-ability-icons">M</div>
    <div class="stat-elite" style="color: yellow;">{{ eliteLevel.movement }}</div>
    
    <div class="stat-normal">{{ normalLevel.attack }}</div>
    <div title="Attack" i18n-title="@@attack" class="stat-icon gloomhaven-ability-icons">K</div>
    <div class="stat-elite" style="color: yellow;">{{ eliteLevel.attack }}</div>
    <ng-container *ngIf="normalLevel.range || eliteLevel.range">
      <div class="stat-normal">{{ normalLevel.range }}</div>
      <div title="Range" i18n-title="@@range" class="stat-icon gloomhaven-ability-icons">G</div>
      <div class="stat-elite" style="color: yellow;">{{ eliteLevel.range }}</div>
    </ng-container>
  </ng-container>
</div>
