<div class="normal-numbers">
  <div>
    <div>{{ normalLevel.hitPoints }}</div>
    <div>{{ normalLevel.movement }}</div>
    <div>{{ normalLevel.attack }}</div>
    <div>{{ normalLevel.range }}</div>
  </div>
  <div style="text-align: center;">
    <div title="Hit Points" i18n-title="@@hitPoints" class="gloomhaven-ability-icons">H</div>
    <div title="Movement" i18n-title="@@movement" class="gloomhaven-ability-icons">M</div>
    <div title="Attack" i18n-title="@@attack" class="gloomhaven-ability-icons">K</div>
    <div title="Range" i18n-title="@@range" class="gloomhaven-ability-icons">G</div>
  </div>
  <div class="elite-numbers">
    <div>{{ eliteLevel.hitPoints }}</div>
    <div>{{ eliteLevel.movement }}</div>
    <div>{{ eliteLevel.attack }}</div>
    <div>{{ eliteLevel.range }}</div>
  </div>
</div>
<div class="level">Level: {{ level }}</div>
