.stat-grid {
  display: grid;
  grid-template-columns: repeat(5 auto);
  grid-template-rows: repeat(5, auto);
  grid-auto-flow: row dense;
  column-gap: 0.2em;
  align-items: baseline;

  > .header-normal {
    grid-column: 1 / 3;
    grid-row: 1 / 1;
    text-align: center;
  }
  > .header-spacer {
    grid-column: 3 / 4;
    grid-row: 1 / 1;
  }
  > .header-elite {
    grid-column: 4 / 6;
    grid-row: 1 / 1;
    text-align: center;
  }

  > .bonuses-normal {
    grid-column: 1 / 2;
    grid-row: 2 / -1;
    text-align: right;
  }

  > .bonuses-elite {
    grid-column: 5 / 6;
    grid-row: 2 / -1;
    text-align: left;
  }

  > .stat-normal {
    grid-column: 2 / 3;
    text-align: right;
  }
  > .stat-icon {
    grid-column: 3 / 4;
    text-align: center;
  }
  > .stat-elite {
    grid-column: 4 / 5;
    text-align: left;
  }
}
.level {
  text-align: center;
}
