<!-- rowHeight="60" gutterSize="16" -->
<div class="grid">
  <mat-card *ngFor="let card of cards" class="dashboard-card" [style.grid-row]="'span ' + card.rows"  [style.height.px]="card.rows * 75">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>
        {{card.title}}            
      </mat-card-title>
    </mat-card-header>
    <mat-card-content class="dashboard-card-content">
      <div>Card Content Here</div>
    </mat-card-content>
  </mat-card>
</div>