@import 'breakpoints';

:host {
  display: block;
  height: 100%;
  position: relative;
}

.mat-fab {
  position: absolute;
  bottom: 0;
  right: 0;
}

.grid {
  display: grid;
  gap: 16px;

  @include xs {
    grid-template-columns: repeat(1, 1fr);
  }
  @include sm {
    grid-template-columns: repeat(1, 1fr);
  }
  @include md {
    grid-template-columns: repeat(2, 1fr);
  }
  @include lg {
    grid-template-columns: repeat(2, 1fr);
  }
  @include xl {
    grid-template-columns: repeat(2, 1fr);
  }
}
