<ng-container *ngIf="character$ | async as character">
  <div *ngIf="statCard$ | async as statCard" class="mat-card character-card">
    <!-- <div class="character-card-summons">
      <button mat-icon-button title="Add Summon">
        <mat-icon>add</mat-icon>
      </button>
    </div> -->
    <div class="character-card-header title">
      <!-- <div class="character-card-avatar"></div>
      <div class="horizontal-spacer"></div> -->
      <div style="flex: 1 1 auto; display: flex; align-items: center; gap: 0.5em;">
        <character-icon [key]="character.key" size="lg"></character-icon>
        <div class="card-content" style="display: flex; flex-wrap: wrap; align-items: start; gap: 0.25em;">
          <summon *ngFor="let summon of character.summons" [summon]="summon"></summon>
          <button mat-stroked-button (click)="addSummon()">
            <div style="display: flex; align-items: center;">
              <mat-icon>add</mat-icon>
              <span *ngIf="!character.summons.length">Summon</span>
            </div>
          </button>
        </div>
      </div>
      <div>{{ character.initiative | number: '2.0-0' }}</div>
    </div>
    <div class="card-content" style="display: flex; flex-wrap: wrap; gap: 0.5em;">
      <button *ngFor="let figure of character.figures; let index = index;" mat-stroked-button (click)="openUpdateStatsDialog(index)">
        <div>
          <div class="text">
            <span class="gloomhaven-ability-icons">H</span>
            {{ figure.hitPoints }} / {{ statCard.hitPoints[index][character.level] }}
          </div>
          <div *ngIf="figure.conditions.length" class="images">
            <condition *ngFor="let condition of figure.conditions" [condition]="condition"></condition>
          </div>
        </div>
      </button>
    </div>
  </div>
</ng-container>
