<ng-container *ngIf="character$ | async as character">
  <div *ngIf="statCard$ | async as statCard" class="mat-card character-card">
    <!-- <div class="character-card-summons">
      <button mat-icon-button title="Add Summon">
        <mat-icon>add</mat-icon>
      </button>
    </div> -->
    <div class="character-card-header title">
      <div class="character-card-avatar"></div>
      <div class="horizontal-spacer"></div>
      <div style="flex: 1 1 auto;">
        <character-icon [key]="character.key" size="lg"></character-icon>
      </div>
      <div>{{ character.initiative }}</div>
    </div>
    <div class="character-card-content card-content">
      <button mat-stroked-button (click)="openUpdateStatsDialog()">
        <div>
          <div class="text">
            <span class="gloomhaven-ability-icons">H</span>
            {{ character.hitPoints }} / {{ statCard.hitPoints[character.level] }}
          </div>
          <div *ngIf="character.conditions.length" class="images">
            <div class="horizontal-spacer-sm"></div>
            <condition *ngFor="let condition of character.conditions" [condition]="condition"></condition>
          </div>
        </div>
      </button>
    </div>
  </div>
</ng-container>
